@tailwind base;
@tailwind components;
@tailwind utilities;


:root  {
  --background: 175 0% 95%;
  --foreground: 175 0% 0%;
  --card: 175 0% 90%;
  --card-foreground: 175 0% 10%;
  --popover: 175 0% 95%;
  --popover-foreground: 175 95% 0%;
  --primary: 175 100% 15.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 175 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 137 10% 85%;
  --muted-foreground: 175 0% 35%;
  --accent: 137 10% 80%;
  --accent-foreground: 175 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 175 0% 90%;
  --border: 175 20% 50%;
  --input: 175 20% 18%;
  --ring: 175 100% 15.1%;
  --radius: 0.5rem;
}
.dark  {
  --background: 175 10% 5%;
  --foreground: 175 0% 90%;
  --card: 175 0% 0%;
  --card-foreground: 175 0% 90%;
  --popover: 175 10% 5%;
  --popover-foreground: 175 0% 90%;
  --primary: 175 100% 15.1%;
  --primary-foreground: 0 0% 100%;
  --secondary: 175 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 137 10% 15%;
  --muted-foreground: 175 0% 60%;
  --accent: 137 10% 15%;
  --accent-foreground: 175 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 175 0% 90%;
  --border: 175 20% 18%;
  --input: 175 20% 18%;
  --ring: 175 100% 15.1%;
  --radius: 0.5rem;
}

